header {
  background-color:  #7510f7;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 95%;
  margin: auto;
}

.logo {
  height: inherit;
  width: 5vw;
}

#logo {
  height: inherit;
  width: inherit;
  padding: 8px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem; 
  padding: 2.4rem;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(28, 28, 28, 0.45)
}
